@charset "utf-8";

header .header_top {
    width: 100%;
    height: calc(28px * 6);
}
header .header_bottom {
    width: 100%;
    height: calc(28px * 3);
}
.main_banner {
    width: 100%;
    height: calc(28px * 33);
}
.art_museum {
    width: 100%;
    height: calc(28px * 23);
}
.banner {
    width: 100%;
    height: calc(28px * 7);
}
.exhibit {
    width: 100%;
    height: calc(28px * 28);
}
.collect {
    width: 100%;
    height: calc(28px * 30);
}
.news {
    width: 100%;
    height: calc(28px * 8);
}
.news_letter {
    width: 100%;
    height: calc(28px * 26);
}
.facility {
    background-color: purple;
    width: 100%;
    height: calc(28px * 16);
}
footer .footer_top {
    background-color: gray;
    width: 100%;
    height: calc(28px * 10);
}
footer .footer_bottom {
    background-color: lightseagreen;
    width: 100%;
    height: calc(28px * 5);
}


/* ====================================
    ======= 팝업창 ======    
==================================== */
.popup {
    position: fixed;
    width: min(50%, 500px);
    padding: 2% 2% 3%;
    font-size: 1.8rem;
    line-height: 1.75;
    background-color: white;
    z-index: 999;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    box-shadow: 0 0 45px rgba(0,0,0,0.4);
    user-select: none;
    border-radius: 10px;
}
.popup > span {
    position: absolute;
    background-color: gray;
    padding: 0.5% 3%;
    right: 10%;
    bottom: 10%;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}


/* ====================================
    ======= header ======
==================================== */
.header_top .inner {
    height: 100%;
    position: relative;
}
.header_top img {
    margin-top: calc(var(--row) * 2);
    height: calc(var(--row) * 2.5);
}

.header_top div.text {
    width: var(--unit1);
    margin-top: calc(var(--row) * 2);
    position: absolute;
    right: 10px;
    line-height: calc(var(--row) * 3);
    justify-content: space-around;
}
.header_top .login {
    position: absolute;
    right: calc(var(--unit1) + 2rem);
    background-color: var(--primary2);
    width: calc(var(--row) * 3);
    height: calc(var(--row) * 3);
    border-radius: 50%;
    line-height: calc(var(--row) * 3);
    text-align: center;
}
.header_top .text > div, ul {padding: 5px;}

.header_top .depth2 {
    line-height: var(--row);
    display: none;
    position: absolute;
    top: 40px;
    padding: 20px 0;
}
.text ul > li:hover .depth2 {display: block;}

/* ====================================
    ======= .header_bottom = nav ======
==================================== */

nav {display: block;}
nav ul {
    width: 1560px;
    display: inline-block;
    line-height: calc(28px * 3);
    justify-content: space-around;
}
nav .sch img {scale: 1.5;}

nav li a {
    display: block;
    font-size: 2.4rem;
    font-weight: bold;
    color: black;
}

/* ====================================
    ======= 사이드바 ======
==================================== */

body {
    position: relative;
    height: 100%;
}

section {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

#sidebar {
    position: absolute;
    top: calc(var(--row) * 12);
    bottom: 0;
    right: 0;
    left: 100%;
    transform: translateX(-20%);
}

#sidebar div {
    background-color: white;
    width: var(--unit1);
    height: calc(var(--row) * 2);
    margin-bottom: 1rem;
    line-height: calc(var(--row) * 2);
    text-align: center;
    border-radius: 5rem;
}

/* ====================================
    ======= main .main_banner ======
==================================== */
.main_banner img {
    height: calc(var(--row) * 27);
    width: 100%;
    background-color: gray;
    margin-top: calc(var(--row) * 1);
    border-radius: 2rem;
}
.main_banner h2 {
    line-height: calc(var(--row) * 3);
}
.main_banner p {
    margin-left: 1rem;
    margin-top: 3rem;
    line-height: calc(var(--row) * 2);
}
.main_banner .btn {
    position: absolute;
    flex-direction: row;
    top: calc(var(--row) * 23);
    right: 0;
}
.main_banner .btn div {
    background-color: var(--secondary1);
    color: white;
    width: calc(var(--col) * 2);
    height: calc(var(--row) * 3);
    border-radius: 5rem;
    text-align: center;
    line-height: calc(var(--row) * 3);
    margin-bottom: 1rem;
    display: block;
    margin-left: 1rem;
}


/* ====================================
    ======= main .art_museum ======
==================================== */
.art_museum h3 {
    line-height: calc(var(--row) * 4);
}
.museum > div {
    width: calc(var(--unit) * 3 - var(--gu));
    height: calc(var(--row) * 18);
}
.museum>div:not(:nth-last-child(1)) {
    margin-right: var(--gu);
}

.museum .box {
    width: 100%;
    height: calc(var(--row) * 9);
    border-radius: 1rem;
}

.museum > div:nth-child(1) >.box {
    background: url(../source/origin/img_place02_off.jpg) center/cover no-repeat;
}
.museum > div:nth-child(2) >.box {
    background: url(../source/origin/img_place01_off.jpg) center/cover no-repeat;
}
.museum > div:nth-child(3) >.box {
    background: url(../source/origin/img_place03_off.jpg) center/cover no-repeat;
}
.museum > div:nth-child(4) >.box {
    background: url(../source/origin/img_place04_off.jpg) center/cover no-repeat;
}

.museum h5 {
    display: inline-block;
    height: calc(var(--row) * 2);
    line-height: calc(var(--row) * 2);
    font-size: 3rem;
    font-weight: 500;
}
.art_museum div {
    line-height: var(--row);
}

.museum .btn {
    background-color: var(--secondary1);
    padding: 3px 1.6rem;
    margin-top: var(--row);
    margin-right: 1rem;
    border-radius: 2rem;
    color: white;
}


/* ====================================
    ======= main .banner ======
==================================== */
.banner img {
    width: 100%;
    height: calc(var(--row) * 7);
}
.banner .join {
    position: absolute;
    background-color: var(--secondary1);
    top: calc(var(--row) * 2.5);
    right: 0;
    margin-right: var(--row);
    padding: 2.5rem 4cqi;
    border-radius: 5rem;
    color: white;
}

/* ====================================
    ======= main .exhibit ======
==================================== */
.exhibit h3 {
    width: var(--unit2);
    height: calc(var(--row) * 4);
    line-height: calc(var(--row) * 4);
    text-align: center;
}
.exhibit h4 {
    width: var(--unit2);
    height: calc(var(--row) * 4);
    line-height: calc(var(--row) * 4);
    text-align: center;
}

.title div a {
    position: absolute;
    top: 43px;
}
.title div a:nth-child(1) {left: 50px;}
.title div a:nth-child(3) {right: 50px;}

.title {
    justify-content: center;
}
.title::after {
    content: '';
    position: absolute;
    width: 500px;
    top: 90px;
    border-bottom: 1px solid;
}

/* ----- 아래 전시그림 ----- */
.exh {
    width: 100%;
    height: calc(var(--row) * 21);
    overflow: hidden;
    position: absolute;
    overflow: hidden;
}
.exh > div {
    width: calc(var(--unit3) - var(--gu));
    height: 100%;
}
.exh > div:not(:nth-last-child(1)) {
    margin-right: var(--gu);
}

.exh_sc {
    overflow: hidden;
    transition: all 0.2s;
    position: relative;
    transition: all 0.2;
}
.exh_sc img {
    width: calc(var(--unit3) - var(--gu));
    height: calc(var(--row) * 21);
    object-fit: cover;
}

.exh .exh_sc:before {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(var(--row) * 6);
    background-color: var(--secondary1);
    bottom: 0;
    opacity: 0.7;
    transform: translateY(100%);
    transition: all .2s;
}
.exh .exh_sc:hover:before {
    transform: translateY(0);
}

.exh .exh_sc:after {
    position: absolute;
    margin: 0 1rem;
    top: calc(var(--row) * 15.5);
    color: white;
    line-height: calc(1.6rem * 1.75);
    opacity: 0;
    transition: all 0.2s;
    left: 0;
}
.exh .exh_sc:hover:after {opacity: 1;}
.exh .exh_sc:nth-child(1):after {
    content: '이건희 컬렉션 이건희 컬렉션 이건희 컬렉션 이건희 컬렉션 이건희 컬렉션';
}
.exh .exh_sc:nth-child(2):after {
    content: '미술관을 말할 때 우리가 이야기하는 것들';
}
.exh .exh_sc:nth-child(3):after {
    content: '특별수장고: 국립현대미술관 드로잉소장품';
}
.exh .exh_sc:nth-child(4):after {
    content: '한국의 기하학적 추상미술';
}

/* ====================================
    ======= .collection ======    
==================================== */

.collect .inner .collection {
    width: 100%;
    max-width: var(--unit7);
}
.collect h3 {line-height: calc(var(--row) * 4);}

.collection > .df > div {
    width: 100%;
    max-width: calc(var(--unit) * 3 - var(--gu));
}
.collection .box {
    background-color: gray;
    margin-right: 2.4rem;
    border-radius: 1.5rem;
}
.collection h5 {
    margin-top: var(--row);
    font-weight: 500;
}
.collection p {
    margin-top: 1.2rem;
}

.collection > .df > div:first-child .box {
    background-image: url(../source/origin/collection1.PNG);
    background-size: cover;
    height: calc(var(--row) * 21);
}
.collection > .df > div:last-child .box {
    background-image: url(../source/origin/collection2.PNG);
    background-size: cover;
    height: calc(var(--row) * 11);
}

/* --- digital --- */

.digital {
    margin-left: var(--unit1);
    width: 100%;
    max-width: var(--unit5);
}
.digital .box {
    background-image: url(../source/origin/digital.PNG);
    background-size: cover;
    height: calc(var(--row) * 10);
    max-width: calc(var(--unit4) - var(--gu));
    margin-right: 2.4rem;
    border-radius: 1.5rem;
}

.digital h5 {
    line-height: var(--row);
    font-weight: 500;
}
.digital p {
    margin-top: var(--row);
    margin-bottom: 1rem;
}

/* ====================================
    ======= news ======    
==================================== */

.news .inner > h3 {
    width: 100%;
    max-width: var(--unit2);
    line-height: calc(28px * 8);;
}

.news .text {align-self: center;}
.news .text ul {
    list-style: disc;
    line-height: calc(var(--row) * 2);
}
.news .text li a {
    display: block;
    font-size: 2.4rem;
}

/* ====================================
    ======= news_letter ======    
==================================== */ 

.letter {
    width: 100%;
    max-width: var(--unit9);
}
.letter > div .box {
    width: 100%;
    height: calc(var(--row) * 14);
    background-color: gray;
    border-radius: 1.5rem;
}
.letter > div {
    width: 100%;
    max-width: calc(var(--unit3) - var(--gu));
    margin-right: var(--gu);
}
.letter > div p:nth-of-type(1) {
    margin-top: var(--row);
    line-height: var(--row);
}
.letter > div p:nth-of-type(2) {
    line-height: calc(var(--row) * 1.3);
}

/* --- 온라인 숍 --- */
.shop {
    width: 100%;
    max-width: calc(var(--unit3) - var(--gu));
}
.shop > div .box {
    width: 100%;
    max-width: calc(var(--unit3) - var(--gu));
    height: calc(var(--row) * 14);
    background-color: gray;
    border-radius: 1.5rem;
}
