@charset "utf-8";

header .header_top {
    width: 100%;
    height: calc(28px * 6);
}
header .header_bottom {
    width: 100%;
    /* height: calc(28px * 3); */
    position: relative;
}
.main_banner {
    width: 100%;
    height: calc(28px * 33);
}
.art_museum {
    width: 100%;
    height: calc(28px * 23);
}
.banner {
    width: 100%;
    height: calc(28px * 7);
}
.exhibit {
    width: 100%;
    height: calc(28px * 28);
}
.collect {
    width: 100%;
    height: calc(28px * 30);
}
.news {
    width: 100%;
    height: calc(28px * 8);
}
.news_letter {
    width: 100%;
    height: calc(28px * 26);
}
.facility {
    width: 100%;
    height: calc(28px * 16);
}
footer .footer_top {
    width: 100%;
    height: calc(28px * 10);
}
footer .footer_bottom {
    width: 100%;
    height: calc(28px * 5);
}

/* title 공통*/
    /* .inner .title { margin-top: 50px;}  */

/* 링크 호버 */
a:hover {
    text-decoration: underline;
}

/* ====================================
    ======= 스킵메뉴 ======    
==================================== */
.skip_menu {
    left: 0;
    top: 0;
    padding: 10px 15px;
    width: 150px;
}
.skip_menu a {
    position: absolute;
    text-decoration: none;
    color: white;
    background-color: #000;
    width: 100%;
    left: 0;
    top: 0;
    transform: translateY(-200%);
    transition: all 0.3s;
    text-align: center;
    padding: 1rem;
}
.skip_menu a:focus {
    transform: translateY(0);
}

/* ====================================
    ======= 팝업창 ======    
==================================== */
.popup {
    position: fixed;
    width: min(50%, 500px);
    padding: 2% 2% 3%;
    font-size: 1.8rem;
    line-height: 1.75;
    background-color: white;
    z-index: 999;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    box-shadow: 0 0 45px rgba(0,0,0,0.4);
    user-select: none;
    border-radius: 10px;
}
.popup > span {
    position: absolute;
    background-color: gray;
    padding: 0.5% 3%;
    right: 10%;
    bottom: 10%;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}


/* ====================================
    ======= header ======
==================================== */
.header_top .inner {
    height: 100%;
    position: relative;
}
.header_top img {
    margin-top: calc(var(--row) * 2);
    height: calc(var(--row) * 2.5);
}

.header_top div.text {
    width: var(--unit1);
    margin-top: calc(var(--row) * 2);
    position: absolute;
    right: 10px;
    line-height: calc(var(--row) * 3);
    justify-content: space-around;
}
.header_top .signIn {
    position: absolute;
    right: calc(var(--unit1) + 2rem);
    background-color: var(--secondary1);
    width: calc(var(--row) * 3);
    height: calc(var(--row) * 3);
    border-radius: 50%;
    line-height: calc(var(--row) * 3);
    text-align: center;
    color: white
}

.header_top .depth2 {
    line-height: var(--row);
    display: none;
    position: absolute;
    top: 40px;
    padding: 20px 0;
    cursor: pointer;
}
.text ul > li:hover .depth2 {display: block;}


/* ====================================
    ======= .header_bottom = nav ======
==================================== */

nav {display: block;}
nav > ul {
    width: 1560px;
    display: block;
    line-height: calc(28px * 3);
}
nav .sch img {
transform: scale(1.5);
}

nav .title {
    display: block;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
}
nav .title.r {
    text-align: left;
}

nav > ul > li:not(:last-of-type) {
    flex-grow: 1;
}
nav > ul > li:first-of-type {
    flex-grow: 0.5;
}

/* -- depth2 -- */

.header_bottom .title > li {
    position: relative;
}
.w100 {
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: white;
    position: absolute;
    left: 0;
	transition: height 0.5s;
    z-index: 2;
    margin-top: -1rem;
}
.header_bottom li .w100::before {
    content: '';
    width: 100%;
    max-width: 1560px;
    height: 1px;
    background-color: black;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.header_bottom .depth2 {
    line-height: var(--row);
    z-index: 2;
    max-width: 1560px;
    margin: auto;
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}
.header_bottom .depth2 a {
    display: block;
    margin-bottom: 0.5rem;
    margin-right: 50px;
}
.header_bottom li:hover .w100 {
	height: 70px;
}

.depth2 > li > a {
    font-weight: 700;
    font-size: 20px;
}
.depth2 > li > a.sub {
    font-weight: 500;
}

/* ====================================
    ======= 사이드바 ======
==================================== */

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
}

#sidebar {
    position: absolute;
    bottom: calc(var(--row) * 5);
    right: 0;
    left: 100%;
    transform: translateX(-15%);
    pointer-events: auto;
}

#sidebar div {
    background-color: var(--secondary1);
    width: calc(var(--row) * 2);
    height: calc(var(--row) * 2);
    margin-bottom: 1rem;
    line-height: calc(var(--row) * 2);
    text-align: center;
    border-radius: 5rem;
    color: white;
}

#sidebar > a {
    display: block;
    position: absolute;
    transform: scale(1.5);
    margin-top: 1rem;
    padding: 0.85rem 0.95rem;
    left: 1.05rem;
    background-color: var(--primary1);
    border: 1px solid;
    border-radius: 50%;
}

/* ====================================
    ======= main .main_banner ======
==================================== */
.mainBanner_wrap {
    height: calc(var(--row) * 27);
    width: 100%;
    margin-top: calc(var(--row) * 1);
    overflow: hidden;
    position: relative;
}
.main_banner h2 {
    line-height: calc(var(--row) * 3);
}
.main_banner p {
    margin-left: 1rem;
    margin-top: 3rem;
    line-height: calc(var(--row) * 2);
}
.main_banner .btn {
    position: absolute;
    flex-direction: row;
    top: calc(var(--row) * 23);
    right: 0;
}
.main_banner .btn div {
    background-color: var(--secondary1);
    color: white;
    width: calc(var(--col) * 2);
    height: calc(var(--row) * 3);
    border-radius: 5rem;
    text-align: center;
    line-height: calc(var(--row) * 3);
    margin-bottom: 1rem;
    display: block;
    margin-left: 1rem;
    font-size: 2.4rem;
}

.mainBanner_wrap img {
    position: absolute;
    border-radius: 2rem;
    width: 100%;
    height: 100%;
}

.mainBanner_wrap img:nth-of-type(1) {
    left: 0;
}
.mainBanner_wrap img:nth-of-type(2) {
    left: 100%;
}
.mainBanner_wrap img:nth-of-type(3) {
    left: 200%;
}

/* 좌우로 넘기기 */
.visual_btn img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
}
.visual_btn img:first-of-type {left: 5%;}
.visual_btn img:last-of-type {right: 5%;}
.visual_btn img:before {
    content: '';
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    display: block;
    position: absolute;
}

/* pager */
.pager {
    display: flex;
    position: absolute;
    bottom: 12%;
    left: 50%;
    gap: 10px;
    transform: translateX(-50%);
}
.pager li {
    width: 14px;
    height: 15px;
    background: url(../source/icon/btnVisual.png) 0 -16px no-repeat;
}
.pager li.on {
	background-position: 0 0;
}
.pager li a {
    display: block;
    text-indent: -99999px;
}


/* ====================================
    ======= main .art_museum ======
==================================== */
.art_museum h3 {
    line-height: calc(var(--row) * 4);
}
.museum > div {
    width: calc(var(--unit) * 3 - var(--gu));
    height: calc(var(--row) * 18);
}
.museum>div:not(:nth-last-child(1)) {
    margin-right: var(--gu);
}

.museum .box {
    width: 100%;
    height: calc(var(--row) * 9);
    border-radius: 1rem;
}

.museum > div:nth-child(1) >.box {
    background: url(../source/origin/img_place02_off.jpg) center/cover no-repeat;
}
.museum > div:nth-child(2) >.box {
    background: url(../source/origin/img_place01_off.jpg) center/cover no-repeat;
}
.museum > div:nth-child(3) >.box {
    background: url(../source/origin/img_place03_off.jpg) center/cover no-repeat;
}
.museum > div:nth-child(4) >.box {
    background: url(../source/origin/img_place04_off.jpg) center/cover no-repeat;
}

.museum h5 {
    display: inline-block;
    height: calc(var(--row) * 2);
    line-height: calc(var(--row) * 2);
    font-size: 3rem;
    font-weight: 500;
}
.art_museum div {
    line-height: var(--row);
}

.museum .btn {
    background-color: var(--secondary1);
    padding: 3px 2rem;
    margin-top: var(--row);
    margin-right: 1rem;
    border-radius: 2rem;
    color: white;
}


/* ====================================
    ======= main .banner ======
==================================== */
.banner img {
    width: 100%;
    height: calc(var(--row) * 7);
}
.banner .join {
    position: absolute;
    background-color: var(--secondary1);
    top: calc(var(--row) * 2.5);
    right: 0;
    margin-right: var(--row);
    padding: 2.5rem 4rem;
    border-radius: 5rem;
    color: white;
}

/* ====================================
    ======= main .exhibit ======
==================================== */
.exhibit h3 {
    width: var(--unit2);
    height: calc(var(--row) * 4);
    line-height: calc(var(--row) * 4);
    text-align: center;
}
.exhibit h4 > a {
    display: block;
    width: var(--unit2);
    height: calc(var(--row) * 4);
    line-height: calc(var(--row) * 4);
    text-align: center;
    font-size: 3.2rem;
}

.exhibit .title img {
    position: absolute;
    margin-top: 40px;
}
.exhibit .title div img:first-of-type {
    left: 50px;
}
.exhibit .title div img:last-of-type {
    right: 50px;
}

.exhibit .title {
    justify-content: center;
    position: relative;
}
.exhibit .title::after {
    content: '';
    position: absolute;
    width: 500px;
    top: 90px;
    border-bottom: 1px solid;
}

/* ----- 아래 전시그림 ----- */
.exh {
    width: 100%;
    height: calc(var(--row) * 21);
    overflow: hidden;
}
.exh div:not(:nth-last-child(1)) {
    margin-right: var(--gu);
}
.exh [class*='slide'] {
    width: 100%;
    position: absolute;
}

.exh [class*='slide'] > div {
    width: calc(var(--unit3) - var(--gu));
    height: 100%;
    overflow: hidden;
    transition: all 0.2s;
    position: relative;
}
.exh_sc img {
    width: calc(var(--unit3) - var(--gu));
    height: calc(var(--row) * 21);
    object-fit: cover;
}

.exh .exh_sc:before {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(var(--row) * 6);
    background-color: var(--secondary1);
    bottom: 0;
    opacity: 0.7;
    transform: translateY(100%);
    transition: all .2s;
}
.exh .exh_sc:hover:before {
    transform: translateY(0);
}

.exh .exh_sc:after {
    position: absolute;
    margin: 0 1rem;
    top: calc(var(--row) * 15.5);
    color: white;
    line-height: calc(1.6rem * 1.75);
    opacity: 0;
    transition: all 0.2s;
    left: 0;
}
.exh .exh_sc:hover:after {opacity: 1;}

.exh .slide1 .exh_sc:nth-child(1):after {content: '이건희 컬렉션';}
.exh .slide1 .exh_sc:nth-child(2):after {content: '미술관을 말할 때 우리가 이야기하는 것들';}
.exh .slide1 .exh_sc:nth-child(3):after {content: '특별수장고: 국립현대미술관 드로잉소장품';}
.exh .slide1 .exh_sc:nth-child(4):after {content: '한국의 기하학적 추상미술';}

.exh .slide2 .exh_sc:nth-child(1):after {content: '프로젝트 해시태그 2023';}
.exh .slide2 .exh_sc:nth-child(2):after {content: '올해의 작가상 2023';}
.exh .slide2 .exh_sc:nth-child(3):after {content: '백 투 더 퓨처: 한국 현대미술의 동시대성 탐험기';}
.exh .slide2 .exh_sc:nth-child(4):after {content: 'MMCA 과천프로젝트 2023:연결';}

.exh .slide3 .exh_sc:nth-child(1):after {content: '미술관 길목 프로젝트: 정세인';}
.exh .slide3 .exh_sc:nth-child(2):after {content: 'MMCA 청주프로젝트: 2023 "안성석: 모두의 안녕을 위해"';}
.exh .slide3 .exh_sc:nth-child(3):after {content: '디지털스토리: 이야기가 필요하다';}
.exh .slide3 .exh_sc:nth-child(4):after {content: '개방 수장고 개편';}

/* ====================================
    ======= .collection ======    
==================================== */

.collection {
    width: 100%;
    max-width: var(--unit7);
}
.collect h3 {line-height: calc(var(--row) * 4);}

.collection .show > div {
    width: 100%;
    max-width: calc(var(--unit) * 3 - var(--gu));
}
.collection .box {
    margin-right: 2.4rem;
    border-radius: 1.5rem;
}
.collection h5 {
    margin-top: var(--row);
    font-weight: 500;
}
.collection p {
    margin-top: 1.2rem;
}

.collection > .df > div:first-child .box {
    background-image: url(../source/origin/collection1.PNG);
    background-size: cover;
    height: calc(var(--row) * 21);
}
.collection > .df > div:last-child .box {
    background-image: url(../source/origin/collection2.PNG);
    background-size: cover;
    height: calc(var(--row) * 11);
}

.collect .btn {
    text-align: center;
    width: 80px;
    height: 3rem;
    padding: 8px 1.6rem;
    border-radius: 2rem;
    color: white;
    background-color: var(--secondary1);
    margin-left: var(--gu);
    margin-top: calc(var(--row) * 1.4);
}

/* --- digital --- */

.digital {
    margin-left: var(--unit1);
    width: 100%;
    max-width: var(--unit5);
}
.digital .box {
    background-image: url(../source/origin/digital.PNG);
    background-size: cover;
    height: calc(var(--row) * 10);
    width: 100%;
    max-width: calc(var(--unit4) - var(--gu));
    margin-right: 2.4rem;
    border-radius: 1.5rem;
}

.digital h5 {
    line-height: var(--row);
    font-weight: 500;
}
.digital p {
    margin-top: var(--row);
    margin-bottom: 1rem;
}

/* ====================================
    ======= news ======    
==================================== */

.news .inner h3 {
    width: 100%;
    max-width: var(--unit2);
    line-height: calc(28px * 8);
}

.news .text {
    align-self: center;
    width: calc(100% - var(--unit2));
}
.news .text ul {
    list-style: disc;
    line-height: calc(var(--row) * 2);
}
.news .text li a {
    display: block;
    font-size: 2.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ====================================
    ======= news_letter ======    
==================================== */ 

.letter {
    width: 100%;
    max-width: var(--unit9);
}
.letter > div {
    width: 100%;
    max-width: calc(var(--unit3) - var(--gu));
    margin-right: var(--gu);
}
.news_letter h3 {
    line-height: calc(var(--row) * 4);
}

.news_letter .btn {
    text-align: center;
    width: 80px;
    height: 3rem;
    padding: 8px 1.6rem;
    border-radius: 2rem;
    color: white;
    background-color: var(--secondary1);
    margin-left: var(--gu);
    margin-top: calc(var(--row) * 1.4);
}

.letter > div .box {
    width: 100%;
    height: calc(var(--row) * 14);
    background-color: gray;
    border-radius: 1.5rem;
}
.letter > div p:nth-of-type(1) {
    margin-top: var(--row);
    line-height: var(--row);
}
.letter > div p:nth-of-type(2) {
    line-height: calc(var(--row) * 1.3);
    margin-top: 5px;
}

.letter > div:nth-child(1) >.box {
    background: url(../source/origin/letter1.PNG) center/cover no-repeat;
}
.letter > div:nth-child(2) >.box {
    background: url(../source/origin/letter2.PNG) center/cover no-repeat;
}
.letter > div:nth-child(3) >.box {
    background: url(../source/origin/letter3.PNG) center/cover no-repeat;
}


/* --- 온라인 숍 --- */
.shop {
    width: 100%;
    max-width: calc(var(--unit3) - var(--gu));
}
.shop > div .box {
    width: 100%;
    max-width: calc(var(--unit3) - var(--gu));
    height: calc(var(--row) * 14);
    background-color: gray;
    border-radius: 1.5rem;
}

.shop > div p:nth-of-type(1) {
    margin-top: var(--row);
    line-height: var(--row);
}
.shop > div p:nth-of-type(2) {
    line-height: calc(var(--row) * 1.3);
    margin-top: 5px;
}
.shop .box {
    background: url(../source/origin/shop.PNG) center/cover no-repeat;
}

/* ====================================
    ======= facility ======    
==================================== */

.facility h3 {
    text-indent: -9999999999px;
    position: absolute;
}

.fac > div {
    width: calc(var(--unit) * 3 - var(--gu));
    height: calc(var(--row) * 18);
}
.fac > div:not(:nth-last-child(1)) {
    margin-right: var(--gu);
}
.fac {
    margin-top: calc(var(--row) *2 );
}
.fac h5 {
    line-height: calc(var(--row) * 3);
    font-weight: 500;
}

.fac .box {
    width: 100%;
    height: calc(var(--row) * 9);
    border-radius: 1rem;
}

.fac > div:nth-child(1) >.box {
    background: url(../source/origin/facility1.PNG) center/cover no-repeat;
}
.fac > div:nth-child(2) >.box {
    background: url(../source/origin/facility2.PNG) center/cover no-repeat;
}
.fac > div:nth-child(3) >.box {
    background: url(../source/origin/facility3.PNG) center/cover no-repeat;
}
.fac > div:nth-child(4) >.box {
    background: url(../source/origin/facility4.PNG) center/cover no-repeat;
}

.fac .btn {
    margin-left: var(--gu);
    margin-top: var(--row);
    height: var(--row);
    padding: 0.6rem 1.6rem;
    border-radius: 2rem;
    border: 1px solid black;
}

/* ====================================
    ======= footer_top ======    
==================================== */

.footer_top .inner > div {
    margin-top: calc(var(--row) * 2);
}
.footer_top .inner .df {
    flex: 1;
}

.footer_top .join {
    width: 100%;
    max-width: var(--unit4);
    flex: 1;
}
.footer_top .join div:nth-of-type(2) {
    margin-top: var(--row);
}
.footer_top .join .btn {
    padding: 0.2rem 2rem;
    line-height: var(--row);
    position: absolute;
    left: calc(var(--unit1) + 10rem);
    background-color: var(--secondary1);
    border-radius: 2rem;
    text-align: center;
    color: white;
    margin-top: -0.6rem;
}

.footer_top .call {
    line-height: var(--row);
    width: 100%;
    max-width: var(--unit4);
    flex: 1;
}

.footer_top .wrap {flex: 1;}
.footer_top .media:not(:last-of-type) {
    width: var(--unit1);
}
.footer_top .media a {
    display: block;
    margin-bottom: 1.2rem;
}
.footer_top .media .str {
    font-weight: bold;
}

/* footer_bottom */
.footer_bottom .inner {
    justify-content: space-between;
}

.footer_bottom a img.html {
    transform: scale(0.35);
    margin-top: -2.8rem;
}
.footer_bottom a img.css {
    margin-top: 1rem;
}