@charset "utf-8";
@media screen and (max-width: 800px) {
    :root {
        --col: 94px;
        --gu: 10px;
        --unit: 104px;
        --row: 28px
    }
    header .header_top {
        width: 100%;
        height: calc(28px * 6);
    }
    header .header_bottom {
        width: 100%;
        /* height: calc(28px * 3); */
        position: relative;
    }
    .main_banner {
        width: 100%;
        height: calc(28px * 33);
    }
    .art_museum {
        width: 100%;
        height: calc(28px * 23);
    }
    .banner {
        width: 100%;
        height: calc(28px * 7);
    }
    .exhibit {
        width: 100%;
        height: calc(28px * 28);
    }
    .collect {
        width: 100%;
        height: calc(28px * 30);
    }
    .news {
        width: 100%;
        height: calc(28px * 8);
    }
    .news_letter {
        width: 100%;
        height: calc(28px * 26);
    }
    .facility {
        width: 100%;
        height: calc(28px * 16);
    }
    footer .footer_top {
        width: 100%;
        height: calc(28px * 10);
    }
    footer .footer_bottom {
        width: 100%;
        height: calc(28px * 5);
    }
}